// Colors
$primary-color: #000000;
$secondary-color: #5E4F65;
$white-color: #ffffff;
$gray-light: #727171;
$gray-dark: #1C0500;

// Typography
$font-roboto: 'Roboto', sans-serif;
$font-size-small: 16px;
$font-size-base: 18px;
$font-size-medium: 24px;
$font-size-medium-heading: 40px;
$font-size-large: 64px;
$font-size-xl: 100px;
// breakpoints
$breakpoint-mobile: 480px;   
$breakpoint-tablet: 768px;   
$breakpoint-desktop: 1024px; 
$breakpoint-desktop-large: 1200px; 
$breakpoint-desktop-xl: 1400px; 
$breakpoint-desktop-xxl: 1920px; 